<h1>Enter a word and see it's Scrabble score value</h1>
<form action="/score">
  <div class="form-group">
    <label for="word">Enter word here:</label>
    <input id="word" name="word" class="form-control" type="text">
  </div>
  <button type="submit" class="btn btn-info">Check it</button>
</form>
